export(categoryUtilityFunction)
export(coolcat)
export(detect.bad.points)
export(entropy)
export(expectedEntropy)
export(expectedEntropy.partition)
export(fit.point)
export(multivariateEntropy)
export(plot.coolcat)
export(tableByFactor)
useDynLib(coolcat,entropy_)
useDynLib(coolcat,multivariate_entropy)
useDynLib(coolcat,test_)
