export(categoryUtilityFunction)
export(coolcat)
export(detectBadPoints)
export(entropy)
export(expectedEntropy)
export(expectedEntropy.partition)
export(fitPoint)
export(multivariateEntropy)
export(plot.coolcat)
export(pointFittingProbability)
export(refitPoint)
export(symUncertaintyCoefficient)
export(tableByFactor)
useDynLib(coolcat,conditional_entropy_)
useDynLib(coolcat,conditional_multivariate_entropy_)
useDynLib(coolcat,entropy_)
useDynLib(coolcat,multivariate_entropy_)
useDynLib(coolcat,test_)
