export(categoryUtilityFunction)
export(coolcat)
export(detectBadPoints)
export(entropy)
export(expectedEntropy)
export(expectedEntropy.partition)
export(fitPoint)
export(multivariateEntropy)
export(plot.coolcat)
export(pointFittingProbability)
export(refitPoint)
export(symmetricUncertaintyCoefficient)
export(tableByFactor)
useDynLib(coolcat,entropy_)
useDynLib(coolcat,multivariate_entropy)
useDynLib(coolcat,test_)
